<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adfendo.beta" >



    <application>
        <activity android:name=".disclosed.CustomInterstitialActivity" />
        <activity android:name=".disclosed.InterstitialAdDefault" />
        <activity android:name=".ads.VideoAd" />
        <activity android:name=".disclosed.WebInterstitial" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
